body {
  background-color: #f1f1f1;
}

.MJD {
  max-height: 70px;
  width: auto;
  background-color: #ffffff;
  z-index: 1000;
}

.test {
  color: #727272;
}

#root {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  text-align: center;
}

.home {
  color: #727272;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.content1 {
  color: #727272;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.content2 {
  color: #727272;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.tools {
  color: #727272;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.json-formatter {
  color: #d30c0c;
  font-size: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  height: 9em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ff646caa);
}

.json-formatter-error {
  box-sizing: border-box;
  border-radius: 10px;
  resize: none;
  font-family: monospace;
  font-size: x-large;
  color: #ec0d0d;
  outline: none;
}

.json-formatter-container {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  align-items: center;
  height: 80vh;
  box-sizing: border-box;
  gap: 20px;
  outline: none;
}

.json-input-container {
  height: 70%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: solid 2px #7733ff;
  resize: none;
  font-family: monospace;
  font-size: large;
  color: #727272;
  background: #e1dddd;
  outline: none;
}

.json-output-container {
  height: 70%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: solid 2px #7733ff;
  resize: none;
  font-family: monospace;
  font-size: large;
  color: #727272;
  background: #e1dddd;
  outline: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
