body {
  background-color: #f1f1f1; 
}

.MJD {
  max-height: 70px; /* Makes the image height fill the header */
  width: auto; /* Ensures the width scales to maintain aspect ratio */
  background-color: #f1f1f1;
  z-index: 1000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px; /* Set a fixed height for the header */
  background-color: #f1f1f1;
  padding: 10px;
  border-bottom: 2px solid #eceaea;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex; 
  align-items: center; 
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-radius: 20%;
}

.home {
  color: #727272;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.content1 {
  color: #727272;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.content2 {
  color: #727272;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.content3 {
  color: #727272;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  height: 9em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ff646caa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
